/*================reset.css==================*/
*,
*::before,
*::after{
    /*所有的伪元素和标签都选中*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*点击清除高亮效果*/
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color: #333333;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
input,textarea{
    border: none;
    outline: none;
    /*禁止用户拖动文本框*/
    resize: none;
    /*去掉元素的外观*/
    -webkit-appearance: none;
}

/*=============common.css=====================*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.m_r10{
    margin-right: 10px;
}
.m_l10{
    margin-left: 10px;
}

/*清除浮动*/
.clearFix::before,
.clearFix::after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}
/*使用精灵图的公式*/
[class^="icon_"],[class*=" icon_"]{
    background-repeat: no-repeat;
    background-image: url("../images/sprites.png");
    background-size: 200px 200px;
}